.inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 40px;
}

.inicio-cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card {
    border-radius: 60px;
    background-color: var(--primary-50);
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card h2 {
    font-size: 28px;
    color: var(--primary-800);
}

.card img {
    height: 250px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
}

a h2 {
    margin: 0;
    padding: 0;
}