:root {
    --primary-50: #F8FCF9;
    --primary-75: #EDF7F0;
    --primary-100: #DBF0E1;
    --primary-150: #C9E8D3;
    --primary-200: #B7E1C4;
    --primary-250: #A5D9B5;
    --primary-300: #93D2A6;
    --primary-350: #81CA97;
    --primary-400: #6FC388;
    --primary-450: #5EBB7A;
    --primary-500: #4BB26A;
    --primary-550: #44A160;
    --primary-600: #3C9055;
    --primary-650: #357E4B;
    --primary-700: #2D6C40;
    --primary-750: #255A36;
    --primary-800: #1E482B;
    --primary-850: #163620;
    --primary-900: #0F2415;
    --primary: var(--primary-650);
    --primary-rgb: 53, 126, 75;
    --white: #fff;
    --gray-50: #FAFAFA;
    --gray-75: #f7f7f7;
    --gray-100: #E6E6E6;
    --gray-150: #D9D9D9;
    --gray-200: #CCCCCC;
    --gray-250: #BFBFBF;
    --gray-300: #B3B3B3;
    --gray-350: #A6A6A6;
    --gray-400: #999999;
    --gray-450: #8C8C8C;
    --gray-500: #808080;
    --gray-550: #737373;
    --gray-600: #666666;
    --gray-650: #595959;
    --gray-700: #4D4D4D;
    --gray-750: #404040;
    --gray-800: #333333;
    --gray-850: #262626;
    --gray-900: #1A1A1A;
    --black: #0B1B09;
    --black-inverter: var(--black);
    --gray-700-inverter: var(--gray-700);
    --gray-800-inverter: var(--gray-800);
    --background-color: var(--white);
    --text-color: var(--black);
    --hover-color: var(--primary-800);
    --contrast: #000;
    --dark-mode: #202124;
    --emec: #0764a1;
    --danger-50: #FFF5F5;
    --danger-75: #FFE6E6;
    --danger-100: #FFCECC;
    --danger-150: #FFB5B3;
    --danger-200: #FF9D99;
    --danger-250: #FE8480;
    --danger-300: #FE6C67;
    --danger-350: #FE534D;
    --danger-400: #FE3B34;
    --danger-450: #FE221B;
    --danger-500: #FE0401;
    --danger-550: #E40901;
    --danger-600: #CB0801;
    --danger-650: #B20701;
    --danger-700: #980601;
    --danger-750: #7F0501;
    --danger-800: #660400;
    --danger-850: #4C0300;
    --danger-900: #330200;
    --danger: var(--danger-500);
    --caution-50: #FFF9F5;
    --caution-75: #FFEFE6;
    --caution-100: #FFDFCC;
    --caution-150: #FFD0B3;
    --caution-200: #FFC099;
    --caution-250: #FEB080;
    --caution-300: #FEA067;
    --caution-350: #FE904D;
    --caution-400: #FE8034;
    --caution-450: #FE711A;
    --caution-500: #FC8403;
    --caution-550: #E55701;
    --caution-600: #CB4D01;
    --caution-650: #B24401;
    --caution-700: #983A01;
    --caution-750: #7F3001;
    --caution-800: #662700;
    --caution-850: #4C1D00;
    --caution-900: #331300;
    --caution: var(--caution-500);
    --warning-50: #FFFCF5;
    --warning-75: #FFF9E5;
    --warning-100: #FFF2CC;
    --warning-150: #FFE6B2;
    --warning-200: #FFE599;
    --warning-250: #FFD780;
    --warning-300: #FFD966;
    --warning-350: #FFD24D;
    --warning-400: #FFCC33;
    --warning-450: #FFC51A;
    --warning-500: #FFBF00;
    --warning-550: #E5AC00;
    --warning-600: #CC9900;
    --warning-650: #B28500;
    --warning-700: #997300;
    --warning-750: #865C00;
    --warning-800: #664C00;
    --warning-850: #4D3900;
    --warning-900: #332600;
    --warning: var(--warning-600);
    --success-50: #FAFFF5;
    --success-75: #F3FEE7;
    --success-100: #E6FDC6;
    --success-150: #DAFBB6;
    --success-200: #CEF9AE;
    --success-250: #C1F985;
    --success-300: #B5F86D;
    --success-350: #A9F655;
    --success-400: #9CEB47;
    --success-450: #90E236;
    --success-500: #83DE20;
    --success-550: #76DA0B;
    --success-600: #69C20A;
    --success-650: #5CAC08;
    --success-700: #4F9207;
    --success-750: #427B05;
    --success-800: #356204;
    --success-850: #294A03;
    --success-900: #1B3102;
    --success: var(--success-700);
    --info-50: #F6FAFD;
    --info-75: #E9F4FB;
    --info-100: #D4E8F7;
    --info-150: #BEDDF4;
    --info-200: #A8D2F0;
    --info-250: #93C6EC;
    --info-300: #7DBBE8;
    --info-350: #67AFE4;
    --info-400: #52A4E0;
    --info-450: #3C99DD;
    --info-500: #268DD9;
    --info-550: #227FC3;
    --info-600: #1F71AD;
    --info-650: #1B6398;
    --info-700: #175582;
    --info-750: #13476C;
    --info-800: #0F3957;
    --info-850: #0B2A41;
    --info-900: #081C2B;
    --info: var(--info-700);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}